@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.react-international-phone-input-container {
    border: 1px solid transparent !important;
  }
  
  .react-international-phone-input {
    font-size: 16px !important;
    width: 100%;
    color: #4b514c !important;
    border: 0px solid transparent !important;
    height: 100% !important;
  }
  
  .react-international-phone-country-selector button {
    border: 0px solid transparent !important;
    height: 100% !important;
  }